<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

  <title>Jovian</title>

  <style>
    #banner{
      height:360px;
      object-fit:cover;
      width:100%  
    }
    *{
      text-align:center
    }
    </style>
</head>
<body>
  <div class="container">
    <h1 class="mt-4 mb-4"> {{company_name}} Careers </h1>
  
    <img id ="banner" class="img-fluid" src="static/career.jpg" height="320">
    <h2>About Jovian</h2>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aut voluptatem quod ipsam unde sed molestiae dolorum culpa. Reprehenderit distinctio labore pariatur ex rem, cum cupiditate sint quia nostrum optio </p>
    <h2>Job Openings</h2>
    <div> 
      {% for job in jobs %}
      {% include 'jobitem.html' %}

      {% endfor %}
      </div>
    <div > 
      <button class="btn btn-primary btn-lg">Contact Us</button>
      <p>Copyrght 2022, Jovian</p>
    </div>
  </div>
</body>
</html>